#Hero {
    background-color: #f4f4f4;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

#BackgroundIllustration {
    position: absolute;
    right: 4rem;
    z-index: -1;
    height: 50vw;
}


#HeroContainer {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 999;
}

#HeroContainer h1 {
    font-size: 3em;
    margin-bottom: 1rem;
}

#HeroButton {
    margin-top: 22px;
}