<html>
{% extends "base_1.html" %}

{% block content %}
<font size="200%">Log in</font>
<br />
<br />
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="page">
        <label class="field a-field a-field_a1">
            {{ form.username.label }}
            {{ form.username(class_="field__input a-field__input",placeholder="Username") }}
        </label>

        <br />
        <label class="field a-field a-field_a1">
            {{ form.password.label }}
            {{ form.password(class_="field__input a-field__input",placeholder="Password") }}
        </label>
    </div>
    <br />
    <br />
    {{ form.submit(id="submit-button") }}
</form>

{% endblock %}
</html>