.nguml-flow-final-node {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: white;
    border: black solid 4px;
    margin: 0 auto;
    position: relative;
}

.nguml-flow-final-node:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "X"; /* use the hex value here... */
    font-size: 54px;
    color: black;
    line-height: 42px;
    text-align: center;
}

.nguml-flow-final-node-wrapper{
    text-align: center;
}