<html>

<head>
    <!-- css dependencies, and meta information-->
    <link rel="shortcut icon" href="#">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheet.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='form-stylesheet.css') }}">
    <meta charset="UTF-8" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
</head>

<body style="overflow:auto">
    <nav class="embed-nav group" id="embed-nav">
        <ul class="code-types">
            <li class="code-type">
                <a id="html-link" href={{ url_for('home') }} class="">Home</a>
            </li>
        </ul>
        <ul class="result-button-list">
            <li class="results results-type">
                <a id="result-link" href={{ url_for('login') }} class="">Login</a>
            </li>
            <li class="code-type">
                <a id="css-link" href={{ url_for('register') }} class="">Register</a>
            </li>
        </ul>
    </nav>

    <div id="main-content">
        {% with messages = get_flashed_messages()%}
        {% if messages %}
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <div id="footer" style="position:relative">
        <div id="">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                style="text-decoration:none;color:white;font-size:small;">Donate </a>
        </div>
        While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
        Copyright © 2002-2020 by Yo Momma. All Rights Reserved.
    </div>
</body>
<html>