{% include 'application_header.html' with title=application.name %}

<main role="main" class="container">
    {% block content %}
        <div class="card">
            <div class="card-body">

                <form action="/model/applications/{{ application.id }}/addclassifier" method="POST">{% csrf_token %}
                    <label for="classifier_id">Classifier</label>

                    <select id="classifier_id" name="classifier_id">
                        {% for classifier in classifiers_to_add %}
                            <option value="{{ classifier.id }}">{{ classifier.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
        <br>
        <br>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Classifiers</h5>
                {% for classifier in classifiers %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ classifier.name }}</h5>
                            <ul class="list-group">
                                {% for property in classifier.properties %}
                                    <li class="list-group-item">{{ property.name }} : {{ property.type }}</li>
                                {% endfor %}
                            </ul>
                            <a class="btn btn-primary" href="/model/applications/{{ application.id }}/{{ classifier.id }}/properties" role="button">Link properties</a>
                            <a class="btn btn-danger" href="/model/applications/{{ application.id }}/{{ classifier.id }}/unlink"
                               role="button">Unlink</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <br>
        <div class="card">
            <div class="card-body">
                    <h5 class="card-title">Categories</h5>
                <a class="btn btn-primary btn-lg" style="float: right;margin-top: -30px;" href="/model/applications/{{ application.id }}/addcategory" role="button">Add Category</a>
                <br>
                <br>
                {% for category in categories %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ category.name }}</h5>
                            <ul class="list-group">
                                {% for page in category.page_set.all %}
                                    <li class="list-group-item">{{ page.name }}</li>
                                {% endfor %}
                            </ul>
                            <a class="btn btn-primary" href="/model/applications/{{ application.id }}/category/{{ category.id }}/" role="button">View</a>
                            <a class="btn btn-primary" href="/model/applications/{{ application.id }}/category/{{ category.id }}/edit" role="button">Edit</a>
                            <a class="btn btn-primary" href="/model/applications/{{ application.id }}/category/{{ category.id }}/addpage" role="button">Add Page</a>
                            <a class="btn btn-danger" href="/model/applications/{{ application.id }}/category/{{ category.id }}/delete" role="button">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
</main>